main {
  padding-top: 150px;
  @media screen and (max-width: 768px) {
    padding-top: 90px;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: 35vw;
    background-color: $color1;
    z-index: -1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10vw;
    min-height: 10vw;
    background-color: $color2;
    z-index: -1;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .section {
    padding: 100px 0;
    @media screen and (max-width: 1075px) {
      padding: 30px 0;
    }
  }

  .section__intro {
    text-transform: uppercase;
    color: $color2;
    font-family: $font-bold;
    font-size: 18px;
  }

  .section-wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .section__text-wrapper {
    flex-basis: 45%;
    min-width: 0;
  }

  .section__image-wrapper {
    flex-basis: 55%;
  }

  .section__title {
    font-family: $font-bold;
    font-size: 56px;
    line-height: 80px;
    font-weight: 400;
    font-size: 56px;
    @media screen and (max-width: 1075px) {
      line-height: 7vw;
      font-size: 5vw;
    }
    @media screen and (max-width: 768px) {
      font-size: 7vw;
      line-height: 7vw;
    }
  }

  .section__text {
    @media screen and (max-width: 768px) {
      font-size: 19px;
    }
  }

  /*=================================================================*/
  /*                      header-section
  /*=================================================================*/
  .header-section {
    width: 100%;
    margin: 0 auto;
    padddint-top: 100px;
    z-index: 3;

    .header-section__title {
      font-size: 72px;
      @media screen and (max-width: 1024px) {
        font-size: 7vw;
        line-height: 7vw;
      }
    }

    .header-section__btn {
      margin-top: 40px;
    }

    .header-section__img {
      max-width: 100%;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }


  }
}

/*=================================================================*/
/*                      aboutUs-section
/*=================================================================*/
.aboutUs-section {
  .section-wrapper {
    position: relative;

    &::before {
      content: ' ';
      width: 50px;
      height: 50px;
      //background-color: red;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

    }
    column-gap: 30px;

    @media screen and (max-width: 1060px) {
      column-gap: 5%;
    }

    .section__image-wrapper {
      .aboutUs-section__img {
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }


    }

    .aboutUs-section__img {

    }

    .section__text {
      padding: 40px 0;
      @media screen and (max-width: 768px) {
        padding: 8% 0;
      }
    }

    .section__title {
      padding-top: 7%;
      line-height: 65px;
      @media screen and (max-width: 768px) {
        padding-top: 5%;
        line-height: 40px;
      }
    }

    .section__text-wrapper {
      @media screen and (max-width: 1060px) {
        flex-basis: 55%;
      }
      @media screen and (max-width: 768px) {
        margin-top: 10%;
      }
    }

    .aboutUs__features-list {
      margin-top: 5%;

      .feature {
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          font-size: 19px;
        }

        .feature__img {
          max-width: 20px;
          margin-right: 8px;
        }
      }

    }

  }
}

/*=================================================================*/
/*                      section-services
/*=================================================================*/
.section-services {
  background-color: #F7F6FE;
  width: 100%;

  .section__intro-services {
    text-align: center;
  }

  .section__title {
    text-align: center;
    padding-top: 3%;
  }

  .section-services__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    column-gap: 1%;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 40px;
    }

    .service__tile-wrapper {
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .services__tiles {
      display: grid;
      grid-template-columns: repeat(auto-fit, 170px);
      row-gap: 15px;
      column-gap: 15px;
      flex-basis: 70%;
      @media screen and (max-width: 400px) {
        grid-template-columns: none;
      }

      .service__tile {
        height: 220px;
        background-color: #ffffff;
        border-radius: 16px;
        max-width: 170px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        color: $defaultFontColor;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          max-width: 100%;
        }

        &.active {
          background-color: $color1;
          color: #ffffff;
        }

        .tile__circle {
          margin: 30px auto;
          max-width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #F7F6FE;
          display: flex;
          align-items: center;
          justify-content: center;

          .tile__img {
            max-width: 100%;

          }
        }

        .tile__text {
          text-align: center;
          font-family: $font1;
          font-size: 20px;
        }
      }
    }

    .serices__details {

      height: fit-content;

      .detail_wrapper {
        box-shadow: (0 1px 2px #000000);
        border-radius: 16px;
        overflow: hidden;
        background-color: #fff;
        max-width: 400px;
        @media screen and (max-width: 768px) {
          max-width: 90%;
          margin: 0 auto;
        }

        .detail__text {
          padding: 30px 10%;
          display: none;
          @media screen and (max-width: 768px) {
            text-align: center;
          }

          &.active {
            display: block;
          }

          .detail__header {
            font-family: $font-bold;
            font-size: 24px;
            font-weight: normal;
          }

          .detail__paragraph {
            margin-top: 3%;
            line-height: 1.6;
          }
        }
      }
    }
  }
}

/*=================================================================*/
/*                      section-personnel
/*=================================================================*/

.section-personnel {
  text-align: center;

  .personnel__wrapper {
    max-width: 70%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 30%;
      max-width: 100%;
      max-width: 90%;
    }
    @media screen and (max-width: 550px) {
      margin-top: 150px;
    }

    .person {
      width: 40%;
      position: relative;
      @media screen and (max-width: 768px) {
        margin-bottom: 220px;
        width: 75%;
        &:last-child {
          margin-bottom: 70px;
        }
      }
      @media screen and (max-width: 550px) {
        margin-bottom:150px;
      }

      .person__img-wrapper {
        .person__img {
          position: absolute;
          bottom: 80%;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          border: 8px solid $color1;
          box-shadow: (0 1px 2px #000000);
          @media screen and (max-width: 768px) {
            max-width: 60%;
          }
        }
      }

      .person__details {
        background-color: #D0E7F9;
        border-radius: 16px;
        box-shadow: (0 1px 2px #000000);

        .person__name {
          padding-top: 20%;
          font-family: $font1;

          @media screen and (max-width: 768px) {
            font-size: 24px;
          }
          @media screen and (max-width: 550px) {
            font-size: 20px;
          }

        }

        .person__phone {
          display: flex;
          padding: 12% 0 15%;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          @media screen and (max-width: 550px) {
            padding: 15px 0;
          }
          .phone__icon {
            max-width: 35px;
            margin-right: 5%;
          }

          .phone__number {
            font-size: 25px;
            font-weight: bold;
            font-family: $font1;
            @media screen and (max-width: 768px) {
              font-size: 5vw;
            }
            @media screen and (max-width: 550px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.btn-wrapper {
  display: none;
  @media screen and (max-width: 550px) {
    display: flex;
  }
}

/*=================================================================*/
/*                      section-services
/*=================================================================*/
.section-experience {
  background-color: $color1;

  .experience__container {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      font-size: 5vw;
      flex-direction: column;
      align-items: center;
    }

    .experience__item {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        padding: 10%;
      }

      .experience__circle {
        width: 120px;
        height: 120px;
        padding: 5%;
        border-radius: 50%;
        background-color: $color2;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          padding: 4vw;
        }

        .experience__icon {
          max-width: 70%;
        }
      }

      .experience__numbers {
        font-size: 56px;
        color: #ffffff;
        padding: 5% 0;
        font-family: $font-bold;
        @media screen and (max-width: 768px) {
          font-size: 35px;

        }

        .experience_infnity {
          max-width: 5vw;
          padding-top: 3%;
          @media screen and (max-width: 768px) {
            max-width: 50px;
          }
        }
      }

      .experience__text {
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        @media screen and (max-width: 900px) {
          font-size: 22px;
        }
        @media screen and (max-width: 550px) {
          font-size: 20px;
        }

      }
    }
  }
}

.section-contact {
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  .section__text-wrapper {
    min-width: 300px;

    .section-contact__person {
      margin-top: 85px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }

      .person__name {
        font-weight: 400;
        font-size: 24px;
        @media screen and (max-width: 550px) {
          font-size: 20px;
        }
      }

      .btn-phone {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        font-size: 24px;
        @media screen and (max-width: 550px) {
          font-size: 20px;
        }

        .phone__icon {
          margin-right: 10px;
          width: 25px;
        }
      }
    }
  }

  .section__image-wrapper {
    @media screen and (max-width: 945px) {
      & iframe {
        max-width: 400px;
      }
    }
    @media screen and (max-width: 768px) {
      margin-top: 30px;
      & iframe {
        max-width: 100%;
      }

    }
  }
}
#details{
  scroll-margin-top: 250px;
}
.detail{
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}
#aboutUs,#services,#personnel,#contact{
  scroll-margin-top: 100px;
  @media screen and (max-width: 500px) {

    scroll-margin-top: 250px;
  }
}
