

$font1:'Palanquin', sans-serif;
$font-bold:'Palanquin Dark', sans-serif;
$color1:#088AFF;
$color2:#08C8FF;
$defaultFontColor:#333333;
$br-xs:500px;
$br-md:800px;
$br-l:1440px;
$br-xl:1600px;
$br-mobile:$br-md;
